﻿@model IEnumerable<Admin.Models.RoomModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.applicationuser.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.roonlist.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.section.sectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subject.SubjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.yearlevel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.applicationuser.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.roonlist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.section.sectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subject.SubjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.yearlevel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>


