﻿@model Admin.Models.StudentEnrollModel

@{
    ViewBag.Title = "Edit";
}

<h2 style="padding-top:10px;">Update Enrollment Data</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Please edit the data below.</h4>
        <hr style="border-top:1px solid #dcd5d5" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        @Html.HiddenFor(model => model.StudentId)

        <div class="form-group">
            @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", Readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
            </div>
        </div>
      
        <div class="form-group">
            @Html.LabelFor(model => model.SchoolYear, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.SchoolYear, htmlAttributes: new { @id = "SchoolYear" })
                @Html.DropDownList("dd-SchoolYear", ViewBag._shoolyear as SelectList, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LevelType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.LevelType, htmlAttributes: new { @id = "LevelType" })
                <select id="dd-LevelType" class="form-control">
                    <option value="Kindergarten">Kindergarten</option>
                    <option value="Elementary">Elementary</option>
                    <option value="Secondary">Secondary</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.YearGrade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.HiddenFor(m => m.YearGrade, htmlAttributes: new { @id = "YearGrade" })
                <select id="dd-YearGrade" class="form-control">
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.EnrolmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnrolmentDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnrolmentDate, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-warning" />
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        //ON LOAD
        $(document).ready(function () {
            $('#dd-SchoolYear').val($('#SchoolYear').val());//set the value selected
           

            if ($('#LevelType').val() == "Kindergarten") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>'
                );
            }
            if ($('#LevelType').val() == "Elementary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5</option>' +
                    '<option value="6">6</option>'
                );
            }
            if ($('#LevelType').val() == "Secondary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10</option>' +
                    '<option value="11">11</option>' +
                    '<option value="12">12</option>'
                );
            }
            $('#dd-LevelType').val($('#LevelType').val()); //set the value selected
            $('#dd-YearGrade').val($('#YearGrade').val()); //set the value selected
        })
        //SELECT SCHOOL YEAR
        $(document).on('change', '#dd-SchoolYear', function () {
            $('#SchoolYear').val($('#dd-SchoolYear option:selected').val()); //set the value selected
        });
        //SELECT LEVEL TYPE
        $(document).on('change', '#dd-LevelType', function () {
            $('#LevelType').val($('#dd-LevelType option:selected').val()); //set the value selected
            if ($('#LevelType').val() == "Kindergarten") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>'
                );
            }
            if ($('#LevelType').val() == "Elementary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="1">1</option>' +
                    '<option value="2">2</option>' +
                    '<option value="3">3</option>' +
                    '<option value="4">4</option>' +
                    '<option value="5">5</option>' +
                    '<option value="6">6</option>'
                );
            }
            if ($('#LevelType').val() == "Secondary") {
                $('#dd-YearGrade').empty();
                $('#dd-YearGrade').append(
                    '<option value="7">7</option>' +
                    '<option value="8">8</option>' +
                    '<option value="9">9</option>' +
                    '<option value="10">10</option>' +
                    '<option value="11">11</option>' +
                    '<option value="12">12</option>'
                );
            }
            $('#YearGrade').val($('#dd-YearGrade option:selected').val()); //set the value selected
        });
        //SELECT YEAR / GRADE
        $(document).on('change', '#dd-YearGrade', function () {
            $('#YearGrade').val($('#dd-YearGrade option:selected').val()); //set the value selected
        });
    </script>
}
