﻿@model Admin.Models.PayableModel

@{
    ViewBag.Title = "Edit";
}

<h2 style="padding-top:10px;">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
		<h4>Please edit the data below.</h4>
		<hr style="border-top:1px solid #dcd5d5" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
		<div class="col-sm-6">
			<div class="form-group">
				@Html.LabelFor(model => model.PayableName, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.PayableName, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.PayableName, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
					@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				@Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "control-label col-md-3" })
				<div class="col-md-9">
					@Html.EditorFor(model => model.TotalAmount, new { htmlAttributes = new { @class = "form-control", Readonly="readonly" } })
					@Html.ValidationMessageFor(model => model.TotalAmount, "", new { @class = "text-danger" })
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					<input type="submit" value="Save" class="btn btn-warning" />
					@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-md-offset-3 col-md-9">
					@Html.HiddenFor(model => model.ItemIds)
					@Html.ValidationMessageFor(model => model.ItemIds, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="col-sm-12" id="loader-box" hidden>
				<img src="~/Content/images/loading.gif" class="img-responsive" style="margin: 0 auto;width: 80px;" />
			</div>
			<div id="ck-items" hidden>
				<table>
					<tbody>
						<tr></tr>
					</tbody>
				</table>
			</div>
		</div>
    </div>
}


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/plugins/iCheck/icheck.js"></script>
	<script src="~/plugins/iCheck/icheck.min.js"></script>
	<script>
		$(document).ready(function () {
			var getIds = $('#ItemIds').val();
			var tosplit = getIds.split('-');

			$.ajax({
				type: 'GET',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
				},
				url: '/payable/GetItems',
				contentType: "application/json",
				success: function (data) {
					$('#ck-items').empty();
					if (data == "No Result") {
					} else {
						$.each(data, function (i, item) {
							var _price = parseFloat(item.Price).toFixed(2);
							$('#ck-items').append(
								'<div class="form-group">' +
									'<div class="col-md-12">' +
										'<div class="checkbox icheck cls-' + item.id + '">' +
											'<label style="padding-left: 0px;">' +
												'<input class="itemchk" type="checkbox" id="item-' + item.id + '" value="' + item.id + '" data-pr="' + _price + '">&nbsp;' + item.ItemName + "  (" + _price + ")" +
											'</label>' +
										'</div>' +
									'</div>' +
								'</div>'
							);
						})
					}
					$('input').iCheck({
						checkboxClass: 'icheckbox_square-blue',
						radioClass: 'iradio_square-blue',
						increaseArea: '20%' // optional
					});
					$('input').on('ifChecked', function (event) {
						//alert(event.target.id);
						$(this).addClass('chkvalid');
						var allvalue = "";
						var totalamt = 0;
						var getitemAMT = 0;

						$('.chkvalid').each(function (e) {
							if (allvalue == "") {
								allvalue += $(this).val();
							} else {
								allvalue += "-" + $(this).val();
							}
							getitemAMT = parseFloat($(this).attr('data-pr'));
							totalamt += getitemAMT;
						});
						$('#ItemIds').val(allvalue);
						$('#TotalAmount').empty();
						$('#TotalAmount').val(totalamt.toFixed(2));
					});
					$('input').on('ifUnchecked', function (event) {
						//alert(event.target.id);
						$(this).removeClass('chkvalid')
						var allvalue = "";
						var totalamt = 0;
						var getitemAMT = 0;

						$('.chkvalid').each(function (e) {
							if (allvalue == "") {
								allvalue += $(this).val();
							} else {
								allvalue += "-" + $(this).val();
							}
							getitemAMT = parseFloat($(this).attr('data-pr'));
							totalamt = totalamt + getitemAMT;
						});
						$('#ItemIds').val(allvalue);
						$('#TotalAmount').empty();
						$('#TotalAmount').val(totalamt.toFixed(2));
					});
					if (tosplit.length > 0) {
						$.each(tosplit, function (key, value) {
							var _cls = "cls-" + value;
							$('.cls-' + value + ' input').iCheck('check');
						});
					}
					
					$('#loader-box').hide();
					$('#ck-items').show();
				}
			});
		});

	</script>
}