﻿@*@model  IEnumerable<Admin.Models.ApplicationUser>*@
@model PagedList.IPagedList<Admin.Models.UserAccessModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Agency list";
}

<div class="row">
    <br />
    <br />
    @using (Html.BeginForm("AgencyList", "Admin", FormMethod.Get))
    {
        <div class="input-group searchbar">
            @Html.TextBox("search", ViewBag.CurrentFilter as string, new { @class = "form-control", @id = "userSearch", placeholder = "Search Username" })
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-success">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    }
    <br />
    <h2 class="text-center">Teachers List</h2>
    <table class="table">
        <tr class="tblheader">
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Middle Name
            </th>
            <th>
                Username
            </th>
            <th>
                Email
            </th>
            <th>
                Active
            </th>
            <th>
                Date Added
            </th>
            <th>
                Last Modified
            </th>
            <th></th>
        </tr>
        
        @foreach (var item in Model)
        {
            <tr class="tbldataheader">
                <td>
                    @Html.DisplayFor(modelItem => item.Lastname, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Firstname, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Middlename, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email, new { @class = "form-control" })
                </td>
                <td class="stat">
                    @Html.DisplayFor(modelItem => item.Active, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded, new { @class = "form-control" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedBy, new { @class = "form-control" })
                </td>
                <td>
                    @if (User.IsInRole("Administrator"))
                    {
                        <a href="@Url.Action("EditUser", "Admin", new { UserName = item.UserName})" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
						<a href="@Url.Action("ViewUser", "Admin", new { UserName = item.UserName})" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                        if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                        {
                            <a href="@Url.Action("DeleteUser", "Admin", new { _UserName = item.UserName})" onclick="return confirm('Are you sure you wish to delete this user?')" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
                        }
                    }
                    else
                    {
                        if ((item.UserName.ToLower() == this.User.Identity.Name.ToLower()))
                        {
                            <a href="@Url.Action("EditUser", "Admin", new { UserName = item.UserName})" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                        }
                    }
                    
                </td>
            </tr>
        }


    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model,
    page => Url.Action("AgencyList",
    new
    {
        page,
        search = ViewBag.searchStringUserNameOrEmail,
        currentFilter = ViewBag.CurrentFilter
    }))
    <hr />
</div>