﻿@model Admin.Models.RoomsViewModel

@{
    ViewBag.Title = "Details";
}

<h2 style="padding-top:10px;">Room Details</h2>

<div>
    <hr style="border-top:1px solid #dcd5d5" />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<hr style="border-top:1px solid #dcd5d5" />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id },new{ @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</p>
