﻿@{
	ViewBag.Title = "Home";
}
<div class="parallax"></div>
<div class="parallax-filter">
    <div class="container-fluid">
        <div>
            <h1>Welcome</h1>
            <hr class="footer-line2" />
            <h3 style="color:#fff; fill:#808080">
                Aenean aliquam libero accumsan pretium ultricies. Integer interdum neque non ipsum varius vehicula. Morbi eros nisi, viverra ac augue vel, congue pellentesque enim. Etiam at sollicitudin risus.
            </h3>
            <hr class="footer-line2" />
            <div class="col-sm-12 no-pad">
                <div class="col-sm-4"><a href="#" class="btn btn-warning" style="width:100%;">LETS TALK</a></div>
                <div class="col-sm-4"><a href="#" class="btn btn-primary" style="width:100%;">VISIT US</a></div>
                <div class="col-sm-4"><a href="#" class="btn btn-success" style="width:100%;">ABOUT US</a></div>
            </div>
        </div>
    </div>
</div>
 