﻿@model Admin.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
}

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <br />
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center bg-cover">
                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                @*<h6>Upload a different photo...</h6>
                <input type="file" class="text-center center-block file-upload">*@
            </div><br>
        </div>
        <div class="col-sm-3">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted"><i class="fa fa-dashboard fa-1x"></i> Activity</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Messages</strong></span> 0</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Notification</strong></span> 0</li>
                <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 0</li>
            </ul>

            <div class="panel panel-default">
                <div class="panel-heading">Social Media</div>
                <div class="panel-body">
                    <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                </div>
            </div>

        </div><!--/col-3-->
        <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
				@if (User.IsInRole("Student") || User.IsInRole("Administrator"))
				{
					<li><a data-toggle="tab" href="#subjects">Subjects</a></li>
					<li><a data-toggle="tab" href="#billing">Billing</a></li>
				}
				@if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
				{
				<li><a data-toggle="tab" href="#payroll">Payroll</a></li>
				<li><a data-toggle="tab" href="#dtr">DTR</a></li>
				}
                <li><a data-toggle="tab" href="#security">Security</a></li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <div class="form-group">
                        <div class="col-xs-6">
							<label for="last_name"><h4>Last name</h4></label>
							@Html.EditorFor(model => model.currentUser.Lastname, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.currentUser.Lastname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
						<div class="col-xs-6">
							<label for="last_name"><h4>First name</h4></label>
							@Html.EditorFor(model => model.currentUser.Firstname, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.currentUser.Firstname, "", new { @class = "text-danger" })
						</div>
                    </div>

                    <div class="form-group">
						<div class="col-xs-6">
							<label for="last_name"><h4>Middle name</h4></label>
							@Html.EditorFor(model => model.currentUser.Middlename, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.currentUser.Middlename, "", new { @class = "text-danger" })
						</div>
                    </div>

                    <div class="form-group">
						<div class="col-xs-6">
							<label for="last_name"><h4>Email</h4></label>
							@Html.EditorFor(model => model.currentUser.Email, new { htmlAttributes = new { @class = "form-control",Readonly="readonly" } })
							@Html.ValidationMessageFor(model => model.currentUser.Email, "", new { @class = "text-danger" })
						</div>
                    </div>
                    <div class="form-group">
						<div class="col-xs-6">
							<label for="last_name"><h4>Phone number</h4></label>
							@Html.EditorFor(model => model.currentUser.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.currentUser.PhoneNumber, "", new { @class = "text-danger" })
						</div>
                    </div>
                    <div class="form-group">
						<div class="col-xs-6">
							<label for="last_name"><h4>Location</h4></label>
							@Html.EditorFor(model => model.currentUser.CoordinateXY, new { htmlAttributes = new { @class = "form-control" } })
							@Html.ValidationMessageFor(model => model.currentUser.CoordinateXY, "", new { @class = "text-danger" })
						</div>
                    </div>
                    <div class="form-group">
						<div class="col-xs-12">
							<label for="last_name"><h4>Address</h4></label>
							@Html.EditorFor(model => model.currentUser.Address, new { htmlAttributes = new { @class = "form-control wide-control" } })
							@Html.ValidationMessageFor(model => model.currentUser.Address, "", new { @class = "text-danger" })
						</div>
                    </div>
                       
                    <div class="form-group">
                        <div class="col-xs-12">
                            <br>
                            <a class="btn btn-lg btn-warning" href="/Admin/EditUser?UserName=@Model.currentUser.UserName"><i class="glyphicon glyphicon-ok-sign"></i> Edit</a>
                        </div>
                    </div>
                    <hr>

                </div>

				@if (User.IsInRole("Student") || User.IsInRole("Administrator"))
				{
					<div class="tab-pane" id="subjects">
						<br />
						<p>Subjects Info</p>
					</div>

					<div class="tab-pane" id="billing">
						<br />
						<p>Billing Info</p>
					</div>
				}
				@if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
				{
					<div class="tab-pane" id="payroll">
						<br />
						<p>Payroll Info</p>
					</div>

					<div class="tab-pane" id="dtr">
						<br />
						<p>DTR Info</p>
					</div>
				}
                

                <div class="tab-pane" id="security">
                    <br />
                    <dl class="dl-horizontal">
                        <dt>Password:</dt>
                        <dd>
                            [
                            @if (Model.HasPassword)
                            {
                                @Html.ActionLink("Change your password", "ChangePassword")
                            }
                            else
                            {
                                @Html.ActionLink("Create", "SetPassword")
                            }
                            ]
                        </dd>
                        <dt>External Logins:</dt>
                        <dd>
                            @Model.Logins.Count [
                            @Html.ActionLink("Manage", "ManageLogins") ]
                        </dd>
                        <dt>Two-Factor Authentication:</dt>
                        <dd>
                            <p>
                                There are no two-factor authentication providers configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                                for details on setting up this ASP.NET application to support two-factor authentication.
                            </p>
                            
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<br />