﻿@model Admin.Models.RegisterViewModel
@{
	ViewBag.Title = "Register";
}

<h2 style="padding-top:10px;">@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4>Create a new account.</h4>
	<hr />
    <input type="hidden" id="utyp" value="@ViewBag._usrtype">
	@Html.ValidationSummary("", new { @class = "text-danger" })
	<div class="form-group">
		<div class="col-md-12">
			@Html.DropDownList("Roles", ViewBag._roles as SelectList, "Select here...", new { @class = "form-control" })
		</div>
	</div>
	@Html.HiddenFor(m => m.UserType, htmlAttributes: new { @id = "userTyp" })

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", Placeholder = "Username", Maxlength = 25 })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.Firstname, new { @class = "form-control", Placeholder = "First Name" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.Middlename, new { @class = "form-control", Placeholder = "Middle Name" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.Lastname, new { @class = "form-control", Placeholder = "Last Name" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.Email, new { @class = "form-control", Placeholder = "Email" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.PasswordFor(m => m.Password, new { @class = "form-control", Placeholder = "Password" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", Placeholder = "Confirm Password" })
				</div>
			</div>
			@if (User.IsInRole("Administrator"))
			{
				@Html.HiddenFor(model => model.Active, new { id = "d1" })
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<span class="input-group-btn">
								<input type="checkbox" id="chkDep1">
							</span>
							<label>&nbsp; Active</label>
						</div>
					</div>
					<div class="col-xs-12" hidden="hidden">
						<div class="checkbox icheck">
							<label>
								<input type="checkbox" id="chkTerms" checked="checked"> I agree to the <a href="#">terms & Conditions</a>
							</label>
						</div>
					</div>
				</div>
			}
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.ContactNo, new { @class = "form-control", Placeholder = "Contact no" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.CivilStatus, new { @class = "form-control", Placeholder = "Civil Status" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.Gender, new { @class = "form-control", Placeholder = "Gender" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextAreaFor(m => m.Address, new { @class = "form-control txt-address", Placeholder = "Address" })
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
					@Html.TextBoxFor(m => m.CoordinateXY, new { @class = "form-control", Placeholder = "Coordinate" })
				</div>
			</div>
		</div>
	</div>
	
	<hr />
	<div class="form-group">
		<div class="col-xs-12">
			<button class="btn btn-primary" id="btnregister">Register</button>
		</div>
	</div>

}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script src="~/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/custom/geturlparam.js"></script>
	<script>
        $(document).ready(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
            var _type = getParameterByName("type");
            if (_type.trim() != "") {
                $('#Roles').hide();
                $('#userTyp').val(_type);
                $('#Roles').val(_type);
                //if ($('#Roles').val() == null) {
                //    //$('#Roles').append($('<option>', { value: _type, text: _type }));
                //    //$('#Roles').val(_type);
                //    $('#userTyp').val("Student");
                //}
            } else {
                $('#userTyp').val('');
                $('#Roles').show();
            }

            $('#Roles').on('change', function () {
                var sel = $('#Roles option:selected').text();
                $('#userTyp').val(sel);
            });

            $('#d1').val("False");
            $('.iCheck-helper').click(function () {
                var chkadmin = "";

                if ($("#chkDep1").is(":checked")) {
                    chkadmin = $('#chkDep1').is(':checked');
                }
                else {
                    chkadmin = $('#chkDep1').is(':checked');
                };

                //alert(chkadmin);
                $('#d1').val(chkadmin);
                //alert($('#d1').val());
            });
            //DO NOT ALLOW SPACE on USERNAME
            $("#DisplayName").keypress(function (e) {
                if (e.which === 32)
                    return false;
            });

            var getprevvalue = $('#utyp').val();
            if ($('#utyp').val() != "") {
                $('#userTyp').val(getprevvalue);
                $('#Roles').hide();
            }
        });
	</script>
}
