﻿@model Admin.Models.SubjectsLoadModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SubjectsLoadModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Student_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Student_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject_IDs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject_IDs)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
