﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>@ViewBag.Title - INHS </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">INHS Online</a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                 @Html.Partial("_LoginPartial")
            }
        </div>
       
    </div>

    <div class="container-fluid body-content">
        <div class="row mycontents">
            @RenderBody()
            @*<br />
            <hr class="footer-line" />
            <footer class="center-box footer-text">
                <p class="footer-tm">&copy; @DateTime.Now.Year - RFID</p>
            </footer>*@
        </div>
    </div>

   

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
