﻿   <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title - Admin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/skins/_all-skins.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/plugins/iCheck/square/blue.css">
    <link href="~/Content/jquery.modal.css" rel="stylesheet" />
    <link href="~/Content/admin-mod.css" rel="stylesheet" />
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index","Home")" class="logo" style="background-image: linear-gradient(to right, #0F8F64,#2B7A77);">
                <span class="logo-mini" alt="Admin"><i class="fa fa-home"></i></span>
                <span class="logo-lg"><b>Admin</b> - Panel</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @if (User.Identity.IsAuthenticated)
						{
							<!-- Notifications -->
							<li class="dropdown notifications-menu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bell-o"></i>
									<span class="label label-warning"></span>
								</a>
								<ul class="dropdown-menu notification-dl">
									<li class="header notification-head"></li>
									<li>
										<ul class="menu">
											@*<li>
												<a href="#">
													<i class="fa fa-user text-aqua"></i><span class="label-desc"></span>
												</a>
											</li>*@
										</ul>
									</li>
									<li class="footer notification-foot"></li>
								</ul>
							</li>
							

		                    <li class="dropdown user user-menu row">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                   <img src="~/Content/images/user.png" class="user-image" alt="User Image">
                                   @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="user-header">
                                        <img src="~/Content/images/user.png" class="img-circle" alt="User Image" />
                                        <p>
                                            @User.Identity.Name
                                            <small><b>Admin</b>Panel</small>
                                        </p>
                                    </li>
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="@Url.Action("Index","Manage")" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Logout</a>
                                            }
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="right-head-separator"></li>
                        }
                        else
                        {
                            <li class="dropdown user user-menu">
                                @Html.ActionLink("Log In","Login","Account", routeValues: null, htmlAttributes: new { id="loginlink"})
                            </li>
                        }
                    </ul>

                </div>
            </nav>
        </header>

        <aside class="main-sidebar" style="background-image: linear-gradient(to right, #012F2F,#2F5755);">
            <section class="sidebar">
                <div class="user-panel" style=" border-top: 4px solid #ff6a00;">
                    <div class="pull-left image">
                        <img src="~/Content/images/user.png" class="img-circle" alt="User image" />
                    </div>
                    <div class="pull-left info">
                        <p>@User.Identity.Name</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> online</a>
                    </div>
                </div>

                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="sideMenu" data-label="mnuDashboard">
                        <a href="@Url.Action("Dashboard","Home")">
                            <i class="fa fa-bookmark"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview sideMenu" data-label="Others">
                        <a href="#">
                            <i class="fa fa-tag"></i>
                            <span>Rooms, Subject and Section</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Room")"><i class="fa fa-asterisk"></i> Rooms</a></li>
                            <li><a href="@Url.Action("Index","Subjects")"><i class="fa fa-asterisk"></i> Subject</a></li>
                            <li><a href="@Url.Action("Index","Section")"><i class="fa fa-asterisk"></i> Section</a></li>
                        </ul>
                    </li>

                    <li class="treeview sideMenu" data-label="mnuTask">
                        <a href="#">
                            <i class="fa fa-tag"></i>
                            <span>Questionaire and Test</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Questionaires")"><i class="fa fa-asterisk"></i> Create Questionaire</a></li>
                            <li><a href="@Url.Action("Index","AnswerSheets")"><i class="fa fa-asterisk"></i> Answer Sheets</a></li>
                            <li><a href="@Url.Action("Index","tests")"><i class="fa fa-asterisk"></i> Test</a></li>
                        </ul>
                    </li>

                    <li class="treeview sideMenu" data-label="mnuquestionaire">
                        <a href="#">
                            <i class="fa fa-tag"></i>
                            <span>Student List</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("Index","Students")"><i class="fa fa-asterisk"></i> Student</a></li>
                        </ul>
                    </li>

                    <li class="header">MANAGE</li>

                    <li class="treeview sideMenu" data-label="mnuUsers">
                        <a href="#">
                            <i class="fa fa-tag"></i>
                            <span>Manage Teachers</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            @if (User.IsInRole("Administrator"))
                            {
                                <li><a href="@Url.Action("Register","Account")"><i class="fa fa-asterisk"></i> New Teacher / User</a></li>
                                <li><a href="@Url.Action("Adminlist","Admin")"><i class="fa fa-asterisk"></i> Admin List</a></li>
                                <li><a href="@Url.Action("OtherList","Admin")"><i class="fa fa-asterisk"></i> Teachers List</a></li>
                                <li><a href="@Url.Action("AllList","Admin")"><i class="fa fa-asterisk"></i> All User List</a></li>
                                <li><a href="@Url.Action("ViewAllRoles","Admin")"><i class="fa fa-asterisk"></i> Role List</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("AgentList","Admin")"><i class="fa fa-asterisk"></i> Agent List</a></li>
                            }

                        </ul>
                    </li>

                    <li class="header">Quick Access</li>
                    <li><a href="@Url.Action("About","Home")"><i class="fa fa-circle-o text-aqua"></i> <span>Help</span></a></li>
                </ul>
                <br />
            </section>
        </aside>

        <div class="content-wrapper adminbody" style="min-height: 400px; background-image: linear-gradient(to right, #AF9071, #D1B79F);">
            <div class="mycontents">
                @RenderBody()
                <br />
            </div>
        </div>

        <footer class="main-footer" style="background-color: #878787;">
            <div class="pull-right hidden-xs">
                <b>Admin</b>Panel
            </div>
            <p><strong> @DateTime.Now.Year</strong> </p></> All rights reserved.
        </footer>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/custom/app.min.js"></script>
    <script src="~/Scripts/custom/dashboard.js"></script>
    <script src="~/Scripts/custom/demo.js"></script>
	<script type="text/javascript">
		//Get record
		$(document).ready(function () {

		})

		function CheckRecord(agency) {
			$.ajax({
				type: 'GET',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
				},
				url: '',
				contentType: "application/json",
				success: function (data) {
					if (data.length > 0) {
					}
				}
			});
		}

		if (localStorage) {
			//Menu
			var getActive = localStorage.getItem("ActiveMenu");
			if (getActive != null || getActive != "null") {
				$('.sideMenu').each(function () {
					if (getActive == $(this).attr('data-label')) {
						$(this).addClass('active');
					}
				});
			}
			//Sub menu
			var getActiveSub = localStorage.getItem("ActiveSubMenu");
			if (getActiveSub != null || getActiveSub != "null") {
				$('.submenu').each(function () {
					if (getActiveSub == $(this).attr('data-label')) {
						$(this).addClass('active');
						$('.submenu > ul').addClass('menu-open');
					}
				});
			}
			//Selecting menu
			$(document).on('click', '.sideMenu', function () {
				localStorage.setItem("ActiveMenu", $(this).attr('data-label'));
				if ($(this).attr('data-label') != "mnuPages") {
					localStorage.setItem("ActiveSubMenu", "null");
				}
			});
			//Selecting other submenu
			$(document).on('click', '.mnuPages > ul > li > a', function () {
				if ($('.submenu').hasClass('active')) {
					$('.submenu').trigger('click');
					localStorage.setItem("ActiveSubMenu", "null");
				}
			});
			//Selecting Sub menu
			$(document).on('click', '.submenu', function () {
				localStorage.setItem("ActiveSubMenu", $(this).attr('data-label'));
			});
		} else{
			alert("Sorry, your browser do not support local storage.");
		}
	</script>
</body>
</html>
